body {
	margin-top: 50px;
}

ul {
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

li {
	display: inline-block;
	text-decoration: none;
	padding: 0 5px;
}

a {
	font-family: Helvetica;
}

div.container {
	width: 800px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

div.example-container {
	width: 800px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

div.example-container div {
	cursor: pointer;
}

/*a {
	width: 90px;
	padding: 5px;
	color: #ea2d50;
	margin: 0;
	text-decoration: none;
	border: 2px solid black;
	display: inline-block;
	background-color: #a8dbd6;

	-webkit-transition: color 0.5s, background-color 0.5s, -webkit-transform 0.5s, box-shadow 0.5s;
	transition: color 0.5s, background-color 0.5s, transform 0.5s, box-shadow 0.5s; 
}

a:hover {
	color: black;
	background-color: #aab85c;
	-webkit-transform: translate(0px, -10px);
	transform: translate(0, 20px);
	box-shadow: 0px 15px 15px -6px black;
}*/