body {
	margin-top: 50px;
}

ul {
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

li {
	display: inline-block;
	text-decoration: none;
	padding: 0 5px;
}

a {
	font-family: Helvetica;
}

div.container {
	width: 800px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

div.example-container {
	width: 800px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
}

div.example-container div {
	cursor: pointer;
} 